{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
  <link href="{% static 'plantilla/administrador/css/sb-admin-2.min.css' %}" rel="stylesheet">


</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <!-- Imagen izquierda -->
                             <div class="col-lg-6 d-none d-lg-block bg-login-image">
                                  <img src="{% static 'plantilla/administrador/img/logo.jpg' %}" alt="Logo RoomSpace"
                                    style="width: 90%; height: 80%; object-fit: contain; display: block; margin: 0 auto 10px;">
                                <h1 style="font-weight: 700; font-size: 2.4rem; color: #4e73df; margin: 0; text-align:center">RoomSpace</h1>
                            </div>

                            <!-- Formulario a la derecha -->
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center mb-4">
                                        <h1 class="h4 text-gray-900">¡Crea una cuenta!</h1>
                                    </div>

                                    <form class="user" action="/registrarUsuario" method="post">
                                        {% csrf_token %}

                                        <div class="form-row">
                                            
                                            <div class="form-group col-md-6">
                                                <input type="text" name="first_name" class="form-control form-control-user" placeholder="Nombres" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="text" name="last_name" class="form-control form-control-user" placeholder="Apellidos" required>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <input type="text" name="telefono" class="form-control form-control-user" placeholder="Teléfono" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="text" name="direccion" class="form-control form-control-user" placeholder="Dirección" rows="1" required>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            
                                            <div class="form-group col-md-6">
                                                <input type="email" name="email" class="form-control form-control-user" placeholder="Email" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="text" name="username" class="form-control form-control-user" placeholder="Usuario" required>
                                            </div>
                                        </div>

                                      

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <input type="password" name="password" class="form-control form-control-user" placeholder="Contraseña" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="password" name="password2" class="form-control form-control-user" placeholder="Repetir Contraseña" required>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Registrar
                                        </button>
                                    </form>

                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="#">¿Olvidaste tu contraseña?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="/iniciarSesion">¿Ya tienes una cuenta? ¡Inicia sesión!</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'plantilla/administrador/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'plantilla/administrador/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'plantilla/administrador/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'plantilla/administrador/js/sb-admin-2.min.js' %}"></script>

</body>

</html>