{% extends 'habitaciones/plantilla.html' %}

{% block contenido %}




<!--<a href="/nuevaPublicacion" class="btn btn-success">Nueva Publicacion</a> !-->


<style>
  .tarjeta-publicacion {
    background: #fff;
    border: 2px solid #9e9e9e; 

    border-radius: 0.5rem;   
    padding: 1rem;
  }
  
  
</style>

<div id="contenedor-publicaciones" class="container mt-4">
  {% if publicaciones %}
    {% for pub in publicaciones %}
    <div class="tarjeta-publicacion mb-4">
        
    <div class="row">
        <!-- Imagen izquierda -->
         <a href="detallesPublicacion/{{pub.id}}">
        <div class="col-md-2 col-12 text-center mb-3 mb-md-0">
          {% if pub.foto_url %}
            <img src="{{ pub.foto_url }}" alt="Imagen de {{ pub.titulo }}"
                style="width: 100%; height: 100%;" >
            {% endif %}

        </div>
        </a>

        <!-- Detalles centrales -->
        <div class="col-md-8 col-12">
         
          <h1 >$ {{ pub.precio }} / mes</h1>
          <h1 >{{ pub.titulo }}</h1>
          <p class="mt-1"><strong>Tipo:</strong> {{ pub.tipo }}</p>          
          <p class="mt-1" style="font-size: 15px;">{{ pub.descripcion|truncatechars:150 }}</p>
          <p class="mt-1"><strong>Publicado por:</strong> {{ pub.usuario }}</p>
        </div>

        <!-- Precio y botón a la derecha -->
  <div class="col-md-2 col-12 d-flex align-items-center justify-content-start mt-2 mt-md-0">    
      <a href="favoritos/{{pub.id}}">Agregar a favoritos</a>

<!--
<span class="btn btn-outline-primary d-flex align-items-center justify-content-center"
      role="button"
      data-publicacion-id="{{ pub.id }}"
      style="
        font-size: 20px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        cursor: pointer;
        border-color: #0d6efd; /* azul bootstrap */
        color:#a8cf45; /* verde bootstrap */
        transition: background-color 0.3s, color 0.3s;
      "
      aria-label="Agregar a favoritos"
      title="Agregar a favoritos">
    <i class="fas fa-star"></i>
</span>
-->




              
        </div>

      </div>
    </div>
    <br>
    {% endfor %}
  {% else %}
    <div class="alert alert-warning">No hay publicaciones registradas todavía.</div>
  {% endif %}
</div>


<br><br>
{% endblock %}
