{% extends 'habitaciones/plantilla.html' %}

{% block contenido %}


<div class="container mt-5">
    <h1 class="text-center mb-4">Nueva Publicación</h1>

    <form id="frm_publicacion" method="POST" enctype="multipart/form-data" action="/guardarpublicacion" class="bg-light p-4 rounded shadow-sm">
        {% csrf_token %}

        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" name="titulo" id="titulo" class="form-control" placeholder="Ej: Habitación con baño privado">
        </div>
        <br>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="precio" class="form-label">Precio ($)</label>
                <input type="number" name="precio" id="precio" class="form-control" min="50" step="0.01" placeholder="Ej: 250.00">
            </div>

            <div class="col-md-6 mb-3">
            <label class="form-label">Tipo de habitación</label><br>
            
            <select name="tipohabitacion" id="tipohabitacion"
        class="form-select selectpicker"
        data-style="btn-outline-primary"
        data-live-search="true"
 
        >

                {% for tipo in tipos %}
                    <option value="{{ tipo.id }}">{{ tipo.nombre }}</option>
                {% endfor %}
            </select>
            </div>

        </div>
        <br>

        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea name="descripcion" id="descripcion" class="form-control" rows="4" placeholder="Describa los detalles importantes de la habitación..."></textarea>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="latitud" class="form-label">Latitud</label>
                <input type="text" class="form-control" id="latitud" name="latitud" readonly>
            </div>
            <div class="col-md-6 mb-3">
                <label for="longitud" class="form-label">Longitud</label>
                <input type="text" class="form-control" id="longitud" name="longitud" readonly>
            </div>
        </div>
          <br>
        <div class="mb-4">
            <label class="form-label">Ubicación en el mapa</label>
            <div id="mapa_cliente" style="border:1px solid #ccc; height:300px; width:100%; border-radius:8px;"></div>
        </div>
          <br>
        <div class="mb-4">
            <label for="imagenes" class="form-label">Imágenes de su habitación</label>
            <input id="imagenes" name="imagenes[]" type="file" class="form-control" multiple>
            <div class="form-text">Puede subir hasta 5 imágenes en formato JPG, PNG o WEBP.</div>
        </div>
        <br>

      <div class="d-flex justify-content-center gap-4 mt-4">
          <button type="submit" class="btn btn-success btn-lg px-4">Publicar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          <a href="/habitaciones" class="btn btn-danger btn-lg px-4">Cancelar</a>
          
      </div>
    </form>
</div>

<script>

        $("#imagenes").fileinput({
           language: "es",
        allowedFileExtensions: ["jpg", "jpeg", "png"],
        showCaption: false,
        dropZoneEnabled: true,
        showClose: false,
        maxFileCount: 5,
        browseClass: "btn btn-primary",
        msgPlaceholder: "Selecciona hasta 5 imágenes..."
        });

</script>



<script type="text/javascript">

      function initMap(){
        
        var latitud_longitud= new google.maps.LatLng(-0.9374805,-78.6161327);
        var mapa=new google.maps.Map(
          document.getElementById('mapa_cliente'),
          {
            center:latitud_longitud,
            zoom:7,
            mapTypeId:google.maps.MapTypeId.ROADMAP
          }
        );
        var marcador=new google.maps.Marker({
          position:latitud_longitud,
          map:mapa,
          title:"Seleccione la direccion",
          draggable:true
        });
        google.maps.event.addListener(
          marcador,
          'dragend',
          function(event){
            var latitud=this.getPosition().lat();
            var longitud=this.getPosition().lng();
            /*alert("LATITUD: "+latitud);
            alert("LONGITUD: "+longitud);*/
            document.getElementById("latitud").value=latitud;
            document.getElementById("longitud").value=longitud;
          }
        );
      }
</script>

<script>

        $("#frm_publicacion").validate({
            rules: {
                titulo: {
                    required: true,
                    minlength: 5,
                    maxlength: 100
                },
                precio: {
                  required: true,
                  number: true,
                  min: 50,
                  max: 9000,
                  pattern: /^\d{1,4}(\.\d{1,2})?$/ 
              },
                              descripcion: {
                    required: true,
                    minlength: 10,
                    maxlength: 500
                },
                "tipohabitacion": {
                   required: true
                },
                latitud: {
                    required: true
                   
                },
                longitud: {
                    required: true
                   
                },
                "imagenes[]": {
                    required: true,
                    extension: "jpg|jpeg|png|webp"
                }
            },
            messages: {
                titulo: {
                    required: "Este campo es obligatorio",
                    minlength: "Debe tener al menos 5 caracteres",
                    maxlength: "No debe exceder los 100 caracteres"
                },
                precio: {
                required: "Por favor ingrese el precio",
                number: "Ingrese un número válido",
                min: "El precio mínimo es $50",
                max: "El precio máximo permitido es $9,999",
                pattern: "Ingrese hasta 2 decimales (ej: 8999.99)"
            },

                descripcion: {
                    required: "Por favor ingrese una descripción",
                    minlength: "Debe tener al menos 10 caracteres",
                    maxlength: "No debe exceder los 500 caracteres"
                },
                "tipohabitacion": {
                    required: "Seleccione una opción"
                },
                latitud: {
                    required: "Debe seleccionar la ubicación en el mapa"
                    
                },
                longitud: {
                    required: "Debe seleccionar la ubicación en el mapa"
                    
                },
                "imagenes[]": {
                    required: "Debe subir al menos una imagen",
                    extension: "Solo se permiten archivos JPG, JPEG, PNG o WEBP"
                }
            }
        });
  
</script>
<script>
  $(document).ready(function () {
    $('.selectpicker').selectpicker();
  });
</script>



{% endblock %}
