{% extends 'administrador/plantilla.html' %}

{% block contenido %}
<!---->
<h2 style="text-align: center; font-family: 'Montserrat', sans-serif;">Detalles de la Publicación</h2><br>
<div class="container mt-4" style="font-family: 'Montserrat', sans-serif; color: #333;">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-12">
      
      <div class="mb-4">
        <h5 style="color: #555; font-weight: 600;">Precio</h5>
        <h3 class="text-primary fw-bold" style="font-size: 25px;">$ {{ publicacion.precio }} / mes</h3>
      </div>

      <div class="mb-4">
        <h5 style="color: #555; font-weight: 600;">Título</h5>
        <h3>{{ publicacion.titulo }}</h3>
      </div>

      <div class="mb-4">
        <h5 style="color: #555; font-weight: 600;">Tipo de Habitación</h5>
        <p style="font-size: 16px; margin-bottom: 0;">{{ publicacion.tipohabitacion.nombre }}</p>
      </div>

      <div class="mb-4">
        <h5 style="color: #555; font-weight: 600;">Descripción</h5>
        <p style="font-size: 15px; line-height: 1.5; color: #555;">{{ publicacion.descripcion }}</p>
      </div>
 
      <h5 style="color: #555; font-weight: 600;">Ubicación</h5>
      <div id="mapa_cliente" style="border:1px solid #ccc; border-radius: 8px; height:400px; width:100%; margin-top: 30px;"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function initMap() {
      var lat = parseFloat("{{ publicacion.latitud }}".replace(",", "."));
      var lng = parseFloat("{{ publicacion.longitud }}".replace(",", "."));

      var latitud_longitud = new google.maps.LatLng(lat, lng);

      var mapa = new google.maps.Map(document.getElementById('mapa_cliente'), {
          center: latitud_longitud,
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      });

      var marcador = new google.maps.Marker({
          position: latitud_longitud,
          map: mapa,
          title: "Ubicación de la publicación",
          draggable: false  
      });
  }
</script>

{% endblock %}
