{% extends 'administrador/plantilla.html' %}

{% block contenido %}

<!-- CSS de Owl Carousel -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

<!-- jQuery -->


<!-- JS de Owl Carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<br>
<style>
  .owl-carousel .item img {
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 10px;
  }
</style>

<div class="container mt-4">



  <div class="col-md-8 col-12 mb-4">
    <h4 class="mb-1 text-primary fw-bold">$ {{ publicacion.precio }} / mes</h4>
    <h5>{{ publicacion.titulo }}</h5>
    <p class="mb-1"><strong>Tipo:</strong> {{ publicacion.tipohabitacion.nombre }}</p>
    <p class="mb-1" style="font-size: 15px;">{{ publicacion.descripcion }}</p>
  </div>


 <br><br> <br><br> <br><br>
  <div class="mb-5">

    <div class="" id="mapa_cliente" style="border:1px solid black; height:300px;
    width:100%"> </div>
  </div>



{% if fotos %}
<div class="owl-carousel owl-theme mt-4 mb-5">
  {% for foto in fotos %}
    {% if foto.imagen %}
      <div class="item">
        <img src="{{ foto.imagen.url }}" alt="Imagen de publicación" class="img-fluid rounded" style="max-height: 400px; object-fit: contain;">
      </div>
    {% endif %}
  {% endfor %}
</div>
{% endif %}

</div>
 
<script>
  $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      dots: true,
      autoplay: true,
      autoplayTimeout: 4000,
      autoplayHoverPause: true,
      responsive:{
        0: { items: 1 },
        768: { items: 1 },
        1024: { items: 1 }
      }
    });
  });
</script>

<script type="text/javascript">
    function initMap() {
        
     
        var lat = parseFloat("{{ publicacion.latitud }}".replace(",", "."));
        var lng = parseFloat("{{ publicacion.longitud }}".replace(",", "."));

        console.log("Latitud:", lat, "Longitud:", lng); 

        var latitud_longitud = new google.maps.LatLng(lat, lng);

        var mapa = new google.maps.Map(document.getElementById('mapa_cliente'), {
            center: latitud_longitud,
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

       var marcador = new google.maps.Marker({
            position: latitud_longitud,
            map: mapa,
            title: "Ubicación de la publicación",
            draggable: false  
        });


        google.maps.event.addListener(marcador, 'dragend', function(event) {
            var latitud = this.getPosition().lat();
            var longitud = this.getPosition().lng();
            document.getElementById("latitud").value = latitud;
            document.getElementById("longitud").value = longitud;
        });
    }
</script>


{% endblock %}

