{% extends 'administrador/plantilla.html' %}
{% block contenido %}
<h2>Historial de Eliminaciones</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>

            <th>Título Publicación</th>
            <th>Descripción Publicación</th>
         
            <th>Motivo</th>
            <th>Fecha Eliminación</th>
            <th>Usuario que Eliminó</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>
        {% for item in historial %}
        <tr>            
            <td>{{ item.titulo_publicacion }}</td>
            <td>{{ item.descripcion_publicacion }}</td>
            <td>{{ item.motivo }}</td>
            <td>{{ item.fechaeliminacion }}</td>
            <td>{{ item.fechaeliminacion }}</td>
            <td>{{ item.usuario.username }}</td>
            <td>
             <button class="btn btn-danger btn-sm" onclick="confirmarEliminacion('{{ item.id }}')">
                    Eliminar
                </button>
                </td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No hay registros de eliminaciones.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function confirmarEliminacion(id) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: '¡Este registro será eliminado permanentemente!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = `/eliminar_historial/${id}/`;
            }
        })
    }
</script>
{% endblock %}
