{% extends 'administrador/plantilla.html' %}
{% block contenido %}
<!--cometario-->



<h2 style="text-align: center; font-family: 'Montserrat', sans-serif;">Publicaciones Activas</h2><br>

  <script>
                function confirmarEliminacion(url){
                    Swal.fire({
                        title: '¿Estás seguro?',
                        text: '¡Esta acción no se puede deshacer!',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Sí, eliminar',
                        cancelButtonText: 'Cancelar'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = url;
                            }
                        });
                    }
          </script>


<div class="table-responsive">
    <table id="tblPublicaciones" class="table table-hover align-middle table-bordered text-center shadow-sm">

         <thead class="table-primary">
        <tr>
            <th>Id</th>
            <th>Foto</th>
            <th>Usuario</th>
            <th>Título</th>
            <th>Precio</th>
            <th>Descripción</th>
            <th>Tipo</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for item in publicaciones %}
        <tr>
            <td>{{ item.id }}</td> 
            <td>
                {% if item.foto_principal %}
                    <img src="{{ item.foto_principal.imagen.url }}"
                         style="height: 120px; width: 160px; object-fit: cover;" alt="Imagen">
                {% else %}
                    Sin imagen
                {% endif %}
            </td>
            <td>{{ item.usuario }}</td>
            <td>{{ item.titulo }}</td>
            <td>{{ item.precio }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.tipohabitacion.nombre }}</td>
            <td>{{ item.fechacreacion }}</td>
            <td>
               <a href="/detallesPublicacionAdmin/{{item.id}}"><i class="fa fa-eye"></i></a>

            <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalEliminarPublicacion{{ item.id }}" title="Eliminar">
                <i class="fa fa-trash"></i>
            </button>

            </td>
        <!-- Modal eliminar publicación -->
            <div class="modal fade" id="modalEliminarPublicacion{{ item.id }}" tabindex="-1" aria-labelledby="modalEliminarLabel{{ item.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <form method="POST" action="/eliminarPublicacionAdmin/{{ item.id }}/">
                    {% csrf_token %}
                    <div class="modal-header">
                    <h5 class="modal-title" id="modalEliminarLabel{{ item.id }}">Eliminar Publicación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                    <p>Por favor, indica el motivo por el cual deseas eliminar esta publicación:</p>
                    <div class="mb-3">
                        <textarea name="motivo" class="form-control" rows="3" required></textarea>
                    </div>
                    </div>
                    <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
                </div>
            </div>
            </div>

        </tr>
        {% endfor %}
    </tbody>
</table>

</div>



<script>
$(document).ready(function() {
    let table = new DataTable('#tblPublicaciones', {
        language: {
            url: 'https://cdn.datatables.net/plug-ins/2.3.1/i18n/es-ES.json'
        },
        dom: 'Bfrtip', 
        buttons: [
            'copy',
            'csv',
            'excel',
            'pdf',
            'print'
        ]
    });
});
</script>

{% endblock %}
